In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np

2025-06-06 23:20:04.700319: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2025-06-06 23:20:04.704628: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2025-06-06 23:20:04.713578: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:467] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1749232204.726302  170782 cuda_dnn.cc:8579] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1749232204.730051  170782 cuda_blas.cc:1407] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
W0000 00:00:1749232204.741875  170782 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1749232204.741890  170782 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1749232204.741891  170782 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1749232204.741893  170782 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
2025-06-06 23:20:04.745678: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/garvthakral/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
directory = "/home/garvthakral/Downloads/archive (2)"

In [4]:
dataset = tf.keras.preprocessing.image_dataset_from_directory(
    directory,
    color_mode = 'rgb',
    batch_size = 32,
    image_size = (256,256),
    shuffle = True,
)

Found 8091 files belonging to 1 classes.

E0000 00:00:1749232210.316057  170782 cuda_executor.cc:1228] INTERNAL: CUDA Runtime error: Failed call to cudaGetRuntimeVersion: Error loading CUDA libraries. GPU will not be used.: Error loading CUDA libraries. GPU will not be used.
W0000 00:00:1749232210.321188  170782 gpu_device.cc:2341] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [7]:
caption_df = pd.read_csv("/home/garvthakral/Downloads/archive (2)/captions.txt")

In [5]:
captions = []
def tokenize_captions(caption):
    tokenized_words = word_tokenize(caption)
    filtered_tokens = [w for w in tokenized_words if not w.lower() in stop_words]
    return filtered_tokens

In [11]:
caption_df["tokens"] = caption_df["caption"].apply(tokenize_captions)

In [12]:
token_list = []
caption_df["tokens"].apply(lambda x:token_list.append(x))

0        None
1        None
2        None
3        None
4        None
         ...
40450    None
40451    None
40452    None
40453    None
40454    None
Name: tokens, Length: 40455, dtype: object

In [13]:
joined_list = []
for x in token_list:
    for y in x:
        joined_list.append(y)

In [17]:
token_frequency = {}
for x in joined_list:
    if x in token_frequency:
        token_frequency[x] += 1
    else:
        token_frequency[x] = 0
        
filtered_frequency = {}
for x in token_frequency:
    if token_frequency[x] > 4:
        filtered_frequency[x] = token_frequency[x]

In [24]:
special_tokens = ['<PAD>', '<SOS>', '<EOS>', '<UNK>']
word2Index = {token:idx for token,idx in enumerate(special_tokens)}
index2Word = {idx:token for token,idx in word2Index.items()}

In [31]:
vocabulary = ['<PAD>', '<SOS>', '<EOS>', '<UNK>']  
vocabulary += list(filtered_frequency.keys())

In [46]:
word2idx = {word: idx for idx, word in enumerate(vocabulary)}
idx2word = {idx: word for word, idx in word2idx.items()}

In [51]:
def caption_to_index(caption):
    caption_list = [word2idx['<SOS>']]  
    for x in caption:
        if x in word2idx:
            caption_list.append(word2idx[x])
        else:
            caption_list.append(word2idx['<UNK>'])  
    caption_list.append(word2idx['<EOS>'])  
    return caption_list

In [53]:
caption_df["tokens_ind"] = caption_df["tokens"].apply(caption_to_index)

In [56]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

max_length = 50

caption_df["padded"] = pad_sequences(caption_df["tokens_ind"], maxlen=max_length, padding='post', value=word2idx['<PAD>']).tolist()

In [57]:
caption_df

,image,caption,tokens,tokens_ind,padded
0,1000268201_693b08cb0e.jpg,A child in a pink dress is climbing up a set o...,"[child, pink, dress, climbing, set, stairs, en...","[1, 4, 5, 6, 7, 8, 9, 3, 10, 11, 2]","[1, 4, 5, 6, 7, 8, 9, 3, 10, 11, 2, 0, 0, 0, 0..."
1,1000268201_693b08cb0e.jpg,A girl going into a wooden building .,"[girl, going, wooden, building, .]","[1, 12, 13, 14, 15, 11, 2]","[1, 12, 13, 14, 15, 11, 2, 0, 0, 0, 0, 0, 0, 0..."
2,1000268201_693b08cb0e.jpg,A little girl climbing into a wooden playhouse .,"[little, girl, climbing, wooden, playhouse, .]","[1, 16, 12, 7, 14, 17, 11, 2]","[1, 16, 12, 7, 14, 17, 11, 2, 0, 0, 0, 0, 0, 0..."
3,1000268201_693b08cb0e.jpg,A little girl climbing the stairs to her playh...,"[little, girl, climbing, stairs, playhouse, .]","[1, 16, 12, 7, 9, 17, 11, 2]","[1, 16, 12, 7, 9, 17, 11, 2, 0, 0, 0, 0, 0, 0,..."
4,1000268201_693b08cb0e.jpg,A little girl in a pink dress going into a woo...,"[little, girl, pink, dress, going, wooden, cab...","[1, 16, 12, 5, 6, 13, 14, 3, 11, 2]","[1, 16, 12, 5, 6, 13, 14, 3, 11, 2, 0, 0, 0, 0..."
...,...,...,...,...,...
40450,997722733_0cb5439472.jpg,A man in a pink shirt climbs a rock face,"[man, pink, shirt, climbs, rock, face]","[1, 55, 5, 130, 82, 133, 164, 2]","[1, 55, 5, 130, 82, 133, 164, 2, 0, 0, 0, 0, 0..."
40451,997722733_0cb5439472.jpg,A man is rock climbing high in the air .,"[man, rock, climbing, high, air, .]","[1, 55, 133, 7, 410, 188, 11, 2]","[1, 55, 133, 7, 410, 188, 11, 2, 0, 0, 0, 0, 0..."
40452,997722733_0cb5439472.jpg,A person in a red shirt climbing up a rock fac...,"[person, red, shirt, climbing, rock, face, cov...","[1, 152, 81, 130, 7, 133, 164, 37, 3, 1476, 11...","[1, 152, 81, 130, 7, 133, 164, 37, 3, 1476, 11..."
40453,997722733_0cb5439472.jpg,A rock climber in a red shirt .,"[rock, climber, red, shirt, .]","[1, 133, 241, 81, 130, 11, 2]","[1, 133, 241, 81, 130, 11, 2, 0, 0, 0, 0, 0, 0..."
40454,997722733_0cb5439472.jpg,A rock climber practices on a rock climbing wa...,"[rock, climber, practices, rock, climbing, wal...","[1, 133, 241, 812, 133, 7, 118, 11, 2]","[1, 133, 241, 812, 133, 7, 118, 11, 2, 0, 0, 0..."